.git
.gitignore
.scratch
.vscode
.idea

node_modules
.next
out
build
dist

.env
.env.local
.env*.local

tests
test-results
playwright-report
playwright/.cache

docs
brandkit

*.log
npm-debug.log*
.lighthouseci
coverage

Dockerfile
.dockerignore
docker-compose.yml
README.md
